
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:400px;
  border-bottom:1px solid #ccc;
  margin:5px auto;
  padding:5px;
  color: black;
  font-size: 1.25rem;

}

.list {
  width:500px;
  margin:20px auto;
  box-shadow: 1px 2px 7px #96dacf;
  
}
.filter {
  width:500px; 
  height:50px;
  margin:0px auto;
  box-shadow: 1px 2px 7px #96dacf;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width:75px;
  height:30px;
  align-items: center;
  justify-self: center;
  align-items: center;
  margin-top:8px;
  border:1px solid rgb(7, 7, 7);
  color:black;
  font-size:.75rem;
}

.btn-test {  
  color:#58bead;
  font-weight: bold;
  height: 30px;
  background:transparent;
  border:2px solid #fff;
  font-size:.75rem;
  border-radius: 10px;
}

